.popularHeading {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    background-color: #ffffff;
    background-image: linear-gradient(
      180deg,
      #ffffff 0%,
      #6284ff 50%,
      #ff0000 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }